/* CSS stylesheet  for application */

body {
    height: auto;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 14px;
}

.navbar-blue {
    background: #004588;
}

.navbar-brand {
    color: #6088b4;
}

.navbar-brand img {
    height: 65px;
    width: 80px;
}

.nav-link {
    color: #ffffff;
}

.footer {
    width: auto;
    padding: 0 15px;
}

.searchbar {
    position: relative;
}

.searchbar img {
    top: auto;
    left: auto;
    width: auto;
    height: auto;
}

.navbar-toggler {
    color: #ffffff;
}